body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header { text-align: center; margin-bottom: 20px; }
h1 { margin: 0 0 5px 0; color: #89b4fa; }
p { color: #a6adc8; margin: 0; }
h3 { color: #bac2de; font-size: 16px; text-align: left; margin-top: 0; margin-bottom: 15px; }

.dashboard {
    display: flex;
    flex-direction: column; /* Empilement vertical ! */
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.view-panel {
    background-color: #181825;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #313244;
    box-shadow: 0 8px 32px rgba(0,0,0,0.5);
    width: 800px; /* Force la largeur pour correspondre au canvas */
}

canvas {
    background-color: #11111b;
    border: 1px solid #45475a;
    border-radius: 4px;
    display: block; /* Évite les marges fantômes */
}

.legend {
    background-color: #181825;
    padding: 15px 25px;
    border-radius: 8px;
    border: 1px solid #313244;
    width: 800px;
    box-sizing: border-box;
}

.legend-items { display: flex; justify-content: space-around; }
.legend-item { display: flex; align-items: center; font-size: 14px; }
.color-box { width: 15px; height: 15px; border-radius: 3px; margin-right: 10px; display: inline-block; }
